* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family:'Roboto','Century Gothic','Arial','AppleGothic',sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  background: url(../../images/back.jpg);
  color: #444;
}

.login-form {
  margin-right: 50px;
}

.login-form form {
  text-align: center;
  margin: auto;
  max-width: 300px;
  padding: 30px;
  border-radius: 7px;
  border: 1px solid #347ab6;
  background-color: #94c6ff;
}

.login-form input {
  padding: 5px 0px;
  margin: 10px 10px;
  width: 185px;
  border-radius: 5px;
  border: 0px;
  line-height: 2;
  background-color: #e7e7e7;
}

.login-form  h4 {
  color: #333;
  text-align: center;
}

.login-form i {
  color: #347ab6;
}

.login-form button {
  width: 150px;
  margin: 20px auto;
  padding: 10px;
  background: #164E66;
  color: #FFF;
  border-radius: 6px;
}

.login-form {
  margin: 130px 0px;
}

.formLogout button {
  background: #164E66;
  color: #FFF;
  border-radius: 6px;
  padding: 5px;
}
:required {
  background: red;
}

.login-form input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}

.login-form input:required:focus {
  border: 1px solid red;
  outline: none;
}

.login-form input:required:hover {
  opacity: 1;
}
