
* {
    margin: 0;
    padding: 0;
}

body {
   font-family:'Roboto','Century Gothic','Arial','AppleGothic',sans-serif;
   font-size: 1em;
   line-height: 1.1em;
   color: #000;
   background: url(../images/back.jpg)repeat fixed 0 0 #fff;
}

h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 28px;}
h6 {font-size: 16px;}

.templete {
    width: 960px;
    margin: 0 auto;
}

.contemplete {
    margin: 0 auto;
    width: 928px;
}

.clear {
    overflow: hidden;
}

.headersection {
    background: #5F9F9F none repeat scroll 0 0;
    color: #fff;
}

.logo {
    float: left;
    width: 580px;
}

.logo img {
    float: left;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    height: 70px;
    width: 110px;
}

.logo h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 11px;
    margin-top: 24px;
    text-shadow: 2px 2px 0 #666;
}

.logo p {
    color: #fff;
}

.social {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    text-align: right;
    width: 360px;
}

.icon {
    float: right;
}

.icon a {
    background: #B0E2FF none repeat scroll 0 0;
    border-radius: 2px;
    color: #000;
    display: block;
    float: left;
    font-size: 20px;
    margin-left: 5px;
    padding: 5px 10px;
}

.icon a:hover {
    background: #fff;
    color: #333;
}

.searchbtn {
    float: right;
    margin-top: 8px;
}

.searchbtn input[type="text"] {
    border: 1px solid #ADD8E6;
    width: 200px;
    background: #B0E2FF;
    font-size: 16px;
    height: 20px;
}

.searchbtn input[type="submit"] {
    border: 1px solid #ADD8E6;
    border-radius: 3px;
    font-size: 18px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    cursor: pointer;
    background: #B0E2FF;
    color: #000;
}

.searchbtn input[type="submit"]:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ADD8E6;
    color: #000;
}

.myicon {
    margin: 0 auto;
    width: 280px;
}

.myicon i {
    border: 1px solid #ca932f;
    border-radius: 5px;
    color: #ca932f;
    font-size: 180px;
    padding: 0 28px;
}

.navsection {
    background: none repeat scroll 0 0 #4F94CD;
    min-height: 40px;
}

.navsection ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navsection ul li {
    border-left: 1px solid #F0F8FF;
    border-right: 1px solid #F0F8FF;
    display: block;
    float: left;
    position: relative;
}

.navsection ul li:first-child {
    border-left: 0px solid #fdc662;
}

.navsection ul li:last-child {
    border-right: 0px solid #c18a26;
}

.navsection ul li a {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.navsection ul li a:hover,
#active {
    background: #E0EEEE;
    color: #000;
}

.navsection ul li ul {
    left: -999999px;
    position: absolute;
    z-index: 999;
}

.navsection ul li:hover ul {
    left: 0px;
}

.navsection ul li ul li {
    background: #E6AF4B;
    width: 200px;
    border-bottom: 1px solid #CA932F;
    float: none;
    border-left: 0px solid #fdc662;
    border-right: 0px solid #c18a26;
}

.navsection ul li ul li:last-child {
    border-bottom: 0px solid #CA932F;
}

.navsection ul li ul li a {}

.item {
    position: relative;
    margin: 200px 0;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.item img {
    width: 300px;
    height: 200px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: -100%;
    transition: .8s;
}

.item:hover .overlay {
    top: 0
}

.slidersection {}

.contentsection {
    background: #F0F8FF none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    padding: 15px;
    overflow: hidden;
}

.maincontent {
    background: #C6E2FF none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    float: left;
    margin: 0 15px 15px 0;
    padding: 8px 15px;
    width: 606px;
}

.about {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.about img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    float: left;
    height: 190px;
    margin-right: 10px;
    padding: 5px;
    width: 300px;
}

.about p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

.notfound {
    min-height: 400px;
    padding-top: 100px;
}

.notfound p {
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}

.notfound p span {
    color: #ff0000;
    display: block;
    font-size: 120px;
}


.samepost {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.samepost h2,
.about h2 {
    border-bottom: 2px solid #fff;
    color: #4a4a4a;
    font-size: 25px;
    margin-bottom: 4px;
    padding: 10px 10px 10px 0;
}

.samepost h2 a {
    color: #4a4a4a;
    text-decoration: none;
}

.samepost h4,
.about h4 {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
}

.samepost h4 a,
.about h4 a {
    text-decoration: none;
    color: #5F9F9F;
}

.samepost img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 200px;
}

.samepost p {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}

.readmore {
    float: right;
    margin-top: 10px;
}

.readmore a {
    background: #F0F8FF none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    border-radius: 3px;
    color: #000;
    display: block;
    font-size: 17px;
    padding: 4px 8px;
    text-decoration: none;
}

.readmore a:hover {
    color: #525C65;
}

.sidebar {
    background: #C6E2FF none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    float: right;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 10px;
    width: 253px;
    overflow: hidden;
}

.samesidebar {
    margin-bottom: 10px;
}

.samesidebar h2 {
    background: #4F94CD none repeat scroll 0 0;
    border-bottom: 2px solid #0D4F8B;
    color: #333;
    margin-bottom: 8px;
    padding: 10px;
}

.samesidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.samesidebar ul li {
    border-bottom: 1px dashed #00B2EE;
    font-size: 16px;
    padding: 5px 8px 5px 0;
}

.samesidebar ul li:last-child {
    border-bottom: 0px dashed #00B2EE;
}

.samesidebar ul li a {
    color: #000;
    text-decoration: none;
}

.samesidebar ul li a:hover {
    color: #DF5C25;
}

.samesidebar p {
    margin-bottom: 10px;
}

.popular {
    margin-bottom: 20px;
}

.popular h3 {
    border-bottom: 1px dashed #00B2EE;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.popular h3 a {
    text-decoration: none;
    color: #444;
}

.popular img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    border-radius: 30px;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 3px;
    width: 55px;
}

.popular p {}

.footersection {
    height: 90px;
    background: #5F9F9F;
    text-align: center;
    clear: both;
}

.footermenu {
    margin-top: 25px;
    margin-bottom: 10px;
}

.footermenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.footermenu ul li {
    display: inline-block;
}

.footermenu ul li a {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
}

.footermenu a:hover {
  background-color: #E0EEEE;
  color: #000;
}

.footersection p {
  color: #000;
}

.fixedicon {
    left: 0;
    position: fixed;
    top: 175px;
    width: 60px;
}

.fixedicon img {
    width: 50px;
}


/*Items*/

.items {
    height: 250px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.items img {
    height: 250px;
    width: 400px;
}

.shadow {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
}

.items:hover .shadow {
    top: 0
}

/*Sekcija pagination*/
.pagination {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    text-align: center
}

.pagination a {
    background: #4F94CD none repeat scroll 0 0;
    border: 1px solid #0D4F8B;
    border-radius: 3px;
    color: #000;
    margin-left: 2px;
    padding: 2px 10px;
    text-decoration: none;

}

.pagination a:hover {
    background: #E0EEEE none repeat scroll 0 0;
    color: #000;
}


input[type="text"],
input[type="email"] {
    border: 1px solid #00B2EE;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
    width: 300px;
}

input[type="submit"] {
    background: #4F94CD none repeat scroll 0 0;
    border: 1px solid #00B2EE;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 1px 10px;
}

input[type="submit"]:hover {
    background: #fff;
    color: #000;
}

textarea {
    height: 110px;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    border: 1px solid #00B2EE;
}


/* Komentari */
.demo-container {
    background-color: #F0F8FF;
    padding: 10px 25px 10px 10px;
    border-radius: 10px;
    max-width: 330px;
    margin: 5px 0px 0px 10px;

}

#frmComment {
	padding: 20px;
}


.comment-row {
    padding: 10px 0px;
    line-height: 25px;
    border-bottom: 1px solid #A2B5CD;
}

.delete {
    cursor: pointer;
    display: inline-block;
    font-size: 0.95em;
    color: #d87272;
}


.hidden-delete {
  display:inline-block;
  cursor: pointer;
  font-size: 1em;
  color: #d87272;
}

.btn-add-comment {
	  font-size: 1em;
    padding: 8px 30px;
    background-color: #089cbd;
    color: #ffff;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #00B2EE;
}
.form-field {
    padding: 10px;
    border: 1px solid #00B2EE;
    border-radius: 3px;
    width: 100%;
    margin: 5px 0px 15px 0px;
}

.demo-container .row {
    margin-bottom:15px;
}
.comment-name {
    color: #4f4e4e;
    font-size: 1em;
}
.comment-date {
    color: #868688;
    font-size: 0.9em;
}
.comment-msg {
  color: #000;
  font-size: 1em;
}
.error {
    color: #da5656;
}
