<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kako Funkcionise</title>
    <link rel="stylesheet" type="text/css" href="../css/glavna.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body>


<div class="header-top" style="border-bottom: 2px solid #0b3e91">
    <div id="yes" hidden class="logged" style="padding: 5px">
        <div style="width: 860px; margin: 0 auto;">
            <div class="logo">
                <b><p style="font-size: 25px; color: #fff;float: left; margin: auto">SERVISNA KNJIGA</p></b>
            </div>
            <div style="float: right"><p id="ime" style="display: inline-block"><i class="fas fa-user"></i> </p>
                <button id="logout" class="bttn2">Log Out!</button>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both">
    </div>
    <div id="vrh" class="header-bottom">
        <div class="wrapper">

            <!--<hr style="border-bottom: 2px solid #0b3e91;">-->
            <!--<div id="logo"><b><p style="font-size: 25px; color: #0b3e91">SERVISNA KNJIGA</p></b></div>-->
            <div id="nav" style="margin: 0 auto">
                <ul>
                    <li><a href="index.html">Pocetna</a></li>
                    <li><a href="profile.html" id="profil">Moj Profil</a></li>
                    <li><a href="how-working.html">Kako funkcionise?</a></li>
                    <li><a href="services.html">Autoservisi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="width: 860px;height: 650px; margin: 0 auto">
    <div style="margin-top: 25px">
        <div style="width: 320px; height: 265px; float: left">
            <img src="../images/car.png" alt="auto" style="float: left; padding-right: 30px" class="slide-right">
            <div style="clear:both;"></div>
        </div>
        <h2>Šta je sadržaj i ko može da čita iz e-knjižice?</h2>
        <p style="font-size: 16px">U knjižicu se upisuju tehnički podaci vozila (broj šasije, snaga motora, kubikaža,
          itd), svi urađeni servisi i opravke, kao i ugrađeni delovi. E-knjižici može da pristupa samo vlasnik, tj.
            onaj ko poseduje saobraćajnu dozvolu, kao i oni kojima vlasnik to dozvoli davanjem saobraćajne dozvole
            (auto servisu prilikom održavanja vozila).</p>
        <div style="clear: both"></div>
    </div>

    <hr style="border-bottom: 2px solid #0b3e91; margin-top: 5px">

    <div style="margin-top: 25px; padding-top: 30px">
        <img src="../images/write.png" alt="auto" style="float: right; padding-left: 30px" class="slide-left">
        <h2>Ko može da upisuje u e-knjižicu?</h2>
        <p style="font-size: 16px">Podatke koji se učitavaju sa saobraćajne dozvole upisuju autorizovani auto servisi.
            Dodatne podatke o vozilu, kao i podatke o servisiranju vozila upisuju auto servisi,
            kojima pristup e-knjižici daje vlasnik predajom saobraćajne dozvole..</p>
    </div>
    <div style="clear: both"></div>
</div>

<hr style="border-bottom: 2px solid #0b3e91; margin-top: 5px">

<div id="footer">

    <p style="text-align: center; font-size: 18px">All rigths reserved &copy; Stef</p>

</div>

</body>

<script>
    var url = $(location).attr('href');
    parts = url.split("=");
    last_part = parts[parts.length-1];

    $( document ).ready(function(){
        $.ajax({
            type: "POST",
            url: '../public/checkSession.php',
            data: { id: last_part },
            dataType: 'json',
            success: function(data) {
                if(data.status)
                {

                    $("#yes").show();
                    $("#ime").append(data.name);


                    window.onscroll = function() {myFunction()};

                        // hvata navbar
                        var header = document.getElementById("vrh");
                        console.log(header);

                        // pomak tj dobinjaje odnosno pomeranje navbara
                        var sticky = header.offsetTop;
                        console.log(sticky);

                        // dodavanje klase sticky kada dodjemo misem na navbar i uklanjanje kada odemo s navbara
                        function myFunction() {
                            if (window.pageYOffset >= sticky) {
                                header.classList.add("sticky")
                            } else {
                                header.classList.remove("sticky");
                            }
                        }
                    window.history.pushState(null, null, "?id=" + data.id);

                }
            },
        });
    });

    $("#logout").click( function (){
        $.ajax({
            type: "POST",
            url: '../public/logout.php',
            data: { },
            dataType: 'json',
            success: function(data) {
                if(data.status)
                {
                    window.location.href = "index.html";
                }
                else
                {
                    alert('GRESKA');
                }
            },
        });
    });
</script>
</html>
