<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/admin.css">
    <title>Add Manufaturer</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<div class="admin">
    <p>Unesite proizvodjaca:</p><br><input type="text" name="name" id="name"><br>

    <button id="save">Sacuvaj!</button>

    <br><br>

    <a href='index.html'>Pocetna <i class="far fa-hand-point-right"></i></a><br><br>
    <a href='adminDashboard.html'>Admin Dashboard <i class="fas fa-sign-in-alt"></i></a>
</div>

</body>

<script>

    var ime;
    $( "#save" ).click(function() {
        var ime = $("#name").val();
        $.ajax({
            type: "POST",
            url: '../public/manufacturerAdd.php',
            data: {name: ime},
            dataType: 'json',
            success: function(data) {
                if (data.status) {
                    alert("Uspesno ste uneli proizvodjaca!");
                }
                else {
                    alert(data.message);
                }
            },
        });
    })
</script>
</html>
