<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/glavna.css">
    <title>Profil</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        table, thead, tbody, tr, td {
            border: 1px solid #000;
            border-collapse: collapse;
        }

        td {
            padding: 5px;
        }

        thead {
            background: #00efff;
        }
    </style>
</head>
<body>

<div class="header-top" style="border-bottom: 2px solid #0b3e91">
    <div id="yes" hidden class="logged" style="padding: 5px">
        <div style="width: 860px; margin: 0 auto;">
            <div class="logo">
                <b><p style="font-size: 25px; color: #fff;float: left; margin: auto">SERVISNA KNJIGA</p></b>
            </div>
            <div style="float: right"><p id="ime" style="display: inline-block"><i class="fas fa-user"></i> </p>
                <button id="logout" class="bttn2">Log Out!</button>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both">
    </div>
    <div id="vrh" class="header-bottom">
        <div class="wrapper">

            <!--<hr style="border-bottom: 2px solid #0b3e91;">-->
            <!--<div id="logo"><b><p style="font-size: 25px; color: #0b3e91">SERVISNA KNJIGA</p></b></div>-->
            <div id="nav" style="margin: 0 auto">
                <ul>
                    <li><a href="index.html">Pocetna</a></li>
                    <li><a href="profile.html" id="profil">Moj Profil</a></li>
                    <li><a href="how-working.html">Kako funkcionise?</a></li>
                    <li><a href="services.html">Autoservisi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style=" background: url(../images/parallax-transparent.jpg); height:650px;">

    <div style="width: 860px; margin: 0 auto 0; padding-top: 40px; text-align: center" id="dodaj">
        <h2>Servisna knjiga</h2>
        <p style="font-size: 16px" id="auto"></p>

        <table style="margin: 15px auto">
            <thead style="border: 1px solid #000">
                <td>Datum servisiranja:</td>
                <td>Tip servisa(popravka):</td>
                <td>Kilometraza:</td>
                <td>Serviser:</td>
                <td>Ukupni trosak servisa:</td>
            </thead>
            <tbody id="repairs">

            </tbody>

        </table>

        <!--<a href="repairAdd.html">Dodaj servisiranje</a>-->
    </div>
</div>

<hr style="border-bottom: 2px solid #0b3e91; margin-top: 5px">

<div id="footer">

    <p style="text-align: center; font-size: 18px">All rigths reserved &copy; Stef</p>

</div>

</body>

<script>

    var url = $(location).attr('href');
    parts = url.split("=");
    id = parts[parts.length-2];
    idParts = id.split("&");
    carId = idParts[idParts.length-2];
    serviceBookId = parts[parts.length-1];
    console.log(id);

    $( document ).ready(function(){
        $.ajax({
            type: "POST",
            url: '../public/checkSession.php',
            data: { id: id },
            dataType: 'json',
            success: function(data) {
                if(!data.status)
                {
                    window.location.href = 'login.html';
                } else {
                    $("#yes").show();
                    $("#ime").append(data.name);
                }
            },
        });
    });

    $( document ).ready(function(){
        $.ajax({
            type: "POST",
            url: '../public/repairs.php',
            data: { service_book_id: serviceBookId },
            dataType: 'json',
            success: function(data) {

                    $.each(data, function()
                    {
                        $("#repairs").append('<tr><td>' + this.date + '</td><td>' + this.repair + '</td><td>' + this.distance +
                            '</td><td>' + this.name +'</td><td>' + this.price +'</td></tr>');

                    })

            },
        });
    });

    $("#logout").click( function (){
        $.ajax({
            type: "POST",
            url: '../public/logout.php',
            data: { },
            dataType: 'json',
            success: function(data) {
                if(data.status)
                {
                    window.location.href = "index.html";
                }
                else
                {
                    alert('Greska');
                }
            },
        });
    });

    $( document ).ready(function(){
        $.ajax({
            type: "POST",
            url: '../public/showCarById.php',
            data: { id: carId },
            dataType: 'json',
            success: function(data) {
                $.each(data, function()
                {
                    $("#auto").append(this.auto);
                    $("#dodaj").append('<a href="repairAdd.html?car_id=' + this.id + '&service_book_id=' +
                        this.service_book_id + '">Dodaj servisiranje </a>');


                })
            },
        });
    });

</script>
</html>
